/*variables*/
:root {
    --primary-color: #3112a0;
    --secondary-color: #751542;
    --accent-color: #7a7a7a;
    --text-color: #333;
    --background-color: #f5f5f5;
    --font-family: 'Montserrat', 'Roboto', sans-serif;
}

/*global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*header styles*/
header {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/*log styles*/
#log-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin-top: 3rem;
}

#log-container ul {
    list-style: none;
    padding: 0;
}

#log-container li {
    color: var(--text-color);
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

#date-list li:hover,
#entry-list li:hover {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}

#date-list, #entry-list {
    display: flex;
    flex-direction: column;
}

#date-list {
    align-items: flex-end;
}

#entry-list {
    align-items: flex-start;
}


/*footer styles*/
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}