/*variables*/
:root {
    --primary-color: #3112a0;
    --secondary-color: #751542;
    --accent-color: #7a7a7a;
    --text-color: #333;
    --background-color: #f5f5f5;
    --font-family: 'Montserrat', 'Roboto', sans-serif;
}

/*global styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/*header styles*/
header {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/*log styles*/
.log-headers, .entry {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    padding: 1rem 2rem;
}

.log-headers {
    margin: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.date-header {
    text-align: right;
}

.entry {
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entry:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.date {
    justify-self: flex-end;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.change-description {
    justify-self: flex-start ;
    margin-bottom: 0.5rem;
}

.button-container {
    text-align: center;
    margin: 2rem 0;
}

#more-btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#more-btn:hover {
    background-color: var(--accent-color);
}

/*footer styles*/
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
}

/*responsive styles*/
@media (max-width: 600px) {
    .log-headers, .entry {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .date-header {
        text-align: left;
    }
}